.big-banner {
  width: 100% !important;
  height: auto !important;
}

.sub-banner {
  width: 100% !important;
  position: relative;
  background: url("https://firebasestorage.googleapis.com/v0/b/nearex-1b8f7.appspot.com/o/images%2FGroup%2092.png?alt=media&token=cae01280-0464-48c1-8f30-9090bc896477");
  background-position: center bottom !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  height: 700px !important;
}
