.bestProduct {
  cursor: pointer;
  &__title {
    width: 166px !important;
    min-height: 41px !important;
    margin-top: 10px !important;
    font-size: 15px !important;
    color: #00134c !important;
    font-weight: 500 !important;
  }

  &__price {
    font-size: 20px !important;
    color: #fb7421 !important;
    font-weight: 700 !important;
  }
}

.bestSellerDiv {
  padding: 150px 0 !important;
  background: #fff !important;

  &__title {
    text-align: center !important;
    margin-bottom: 20px !important;
    font-weight: 700 !important;
    color: #00134c !important;
  }
  &__cap {
    text-align: center !important;
    padding: 0 230px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    color: #7a7a7a !important;
    margin-bottom: 70px !important;
  }
  .actBtnDiv {
    width: 100% !important;
    display: flex !important;
    flex-flow: column !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 70px 0 !important;
    margin-bottom: 60px !important;

    .act-btn {
      background: #fb7421 !important;
      color: #fff !important;
      padding: 5px 30px !important;
      border-radius: 30px !important;
      transition: 0.25s ease-in-out !important;

      &-dt:hover {
        background: #fb7421 !important;
      }
    }
  }
}
