.orderDt {
  padding: 30px !important;
}

.orderItem__price {
  font-weight: 500;
  color: #fb7421;
}

.status-pending {
  padding: 8px 10px !important;
  background: #fec05e !important;
  margin: 0 50px !important;
  border-radius: 30px !important;
}

.status-done {
  padding: 8px 10px !important;
  background: #cff7e4 !important;
  margin: 0 50px !important;
  border-radius: 30px !important;
}
