.about-banner {
  width: 100% !important;
  min-height: 429px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: #ffd6ad !important;

  &__header {
    text-align: center !important;
    font-size: 90px !important;
    font-weight: bold !important;
    color: #fdb056;
  }

  &__title {
    text-align: center !important;
    font-size: 20px !important;
    color: #001b5f !important;
  }
}

.about-us {
  padding: 150px 0 !important;
  &__header {
    font-size: 17px !important;
    color: #fd4d4d !important;
    font-weight: 500 !important;
    margin-bottom: 10px !important;
  }
  &__sub {
    font-size: 30px !important;
    width: 450px !important;
    color: #00134c !important;
    font-weight: 700 !important;
    margin-bottom: 10px !important;
  }
  &__pag {
    font-size: 15px !important;
    width: 500px !important;
    color: #7a7a7a !important;
    margin-bottom: 10px !important;
  }
  &__bonus {
    margin-top: 20px !important;

    &-header {
      font-size: 20px !important;
      font-weight: 500;
      color: #00134c !important;
      margin-bottom: 3px !important;
    }

    &-pag {
      font-size: 15px !important;
      width: 350px !important;
      color: #7a7a7a !important;

      &-2 {
        font-size: 15px !important;
        width: 370px !important;
        color: #7a7a7a !important;
      }
    }
  }
}

.style2 {
  width: 100%;
  height: auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background: url("https://firebasestorage.googleapis.com/v0/b/nearex-1b8f7.appspot.com/o/images%2Fstyle3.png?alt=media&token=12959169-66b6-4336-b4cd-db226541bcb1");
  background-size: cover;
  background-repeat: no-repeat;
}
